SUPABASE_URL=https://<dein-projekt>.supabase.co
SUPABASE_API_KEY=<dein-supabase-service-key>
TWITCH_OAUTH_TOKEN=oauth:<dein-twitch-oauth-token>
TWITCH_CLIENT_ID=<deine-twitch-client-id>
CHANNEL_NAME=<dein-kanalname>

